<!-- {{ if site.Data.homepage.pricing.enable }}
{{ with site.Data.homepage.pricing }}
<section id="price">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
						{{ .title | markdownify }}</h1>
					<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
						{{ .description | markdownify }}</p>
					<div class="pricing-list">
						<div class="title">
							<h3>{{ .subtitle | markdownify }}</h3>
						</div>
						<ul>
							{{ range .pricing_item }}
							<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
								<div class="item">
									<div class="item-title">
										<h2><a href="{{ .Permalink }}">{{.title}}</h2>
										<div class="border-bottom"></div>
										<span>{{.price}}</span>
									</div>
									<p>{{.description}}</p>
								</div>
							</li>
							{{ end }}
						</ul>
					</div>
				</div>
			</div> .col-md-12 close 
		</div> .row close 
	</div> .containe close 
</section> #price close 
{{end}}
{{end}} -->

{{ if site.Data.homepage.blog.enable}}
<section id="blog" {{ if site.Data.homepage.blog.overlay }} class="overlay" {{ end }}
	style="background-image: url('{{ site.Data.homepage.blog.bg_image | absURL }}');">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="heading">{{ site.Data.homepage.blog.title | markdownify }}</h1>
					{{ $paginator := .Paginate site.RegularPages }}
					{{ range first 4 (where site.RegularPages "Type" "in" site.Params.main_sections) }}
					<div class="col-lg-6">
						<article class="post wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
							<div class="post-img">
								<img src="{{ .Params.Image | absURL }}" alt="post-image" class="img-responsive">
							</div>
							<div class="post-content">
								<h3><a href="{{ .Permalink }}"></a>{{ .Title }}</h3>
								<p>{{ .Summary }}</p>
							</div>
						</article>
					</div>
					{{ end }}
					<div class="text-center">
						<a href="/post" class="btn btn-default">All Post</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- #blog close -->
{{end}}